<style>
	#banner {
		width: 100%;

	}
</style>
	 <center><img id="banner" src="app/pics/portfoliobanner2.jpg"></center>

<div>
    <h1 class="text-center"> Contact Page</h1>
    <label>Name: Hadjir Mashiri</label>
    <br/>
    <label>Email: <a href="mailto: hmashiri@hotmail.com">HMashiri@hotmail.com</a></label>
    <br/>
    <label>Phone: 858-733-5435</label>
    <br/>
    <label>
        <a href="https://www.linkedin.com/in/hadjir-mashiri-3a0967119">Linkedin Profile Page</a>
    </label>
    <br/>
     <label>
    	<a href="https://www.github.com/hmashiri">Github Account</a>
	</label>
    <br/>
</div>
